/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 22px;
    margin: 0 3%;
  }
  
  article {
  
  }
  
  h1 {
    font-size: 26px;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 800px) {
      body {
          background-color: red;
          margin: 25px 6%;
          font-size: 18px;
      }
      section {
          display: flex;
          flex-wrap: wrap;
      }

      figure {
          width: 45%;
          margin-right: 4.5%;
          margin-top: 4.5%;
      }
  }

  @media screen and (min-width: 1200px) {
    body {
        background-color: green;
        margin: 10px 4%;
        font-size: 14px;
    }
    section {
        display: flex;
        flex-wrap: wrap;
    }

    figure {
        width: 45%;
        margin-right: 4.5%;
        margin-top: 4.5%;
    }
}

  